.card {
    width: 300px;
    height: 375px;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 45% 55%;
    background-color: #fff;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-image img {
    border: 2px solid rgb(240, 229, 229);
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-text {
    padding: 5px;
    background-color: #e7ebb6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text h3 {
    margin: 0;
    font-size: 18px;
}

.card-text p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #ae1df1;
}

#rest-name {
    color: rgb(241, 83, 25);
    font-weight: bold;
}

.card-text-label {
    color: rgb(248, 106, 5);
    font-weight: bold;
}